@import "_variables.scss";

.imageCasaMarContainer {
    width: $img-width;
    height: $img-height;
}

.imageCasaMar {
    width: $img-width;
    height: $img-height;
    background: url('../images/cabaña2.jpeg');
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0;

    &.active {
        animation: flip 1500ms linear forwards;
    }

    &::before {
        content: 'Con Viajes Top podras vivir una experiencia unica, en una casa en el mar.';
        transform: scaleX(-1);
        color: white;
    }
}



@keyframes flip {
    50% {
        background: url('../images/cabaña2.jpeg');
        font-size: 0;
    }

    51% {
        font-size: 20px;
        background: black;
    }

    100% {
        background: black;
        font-size: 20px;
        transform: scaleX(-1);
    }

}

.footerTyCBase {
    background-color: aliceblue;
}

.footerTyC {
    @extend .footerTyCBase;
    @include sizes(100%, 30px);
}

.button {
    padding: 10px;
    color: aliceblue;
    text-decoration: none;
    background-color: rgb(59, 59, 59);
    display: inline-block;
    margin-right: 1em;
    border-radius: 40px;
    font-size: 20px;
}

.button--contacto {
    @extend .button;
    background-color: antiquewhite;
    padding: 5px;
    color: black;
}

#headerTyC {
    font-size: 50px;
}

#mainContacto {
    background-color: aliceblue;
}

.bodyContacto {
    display: flex;
    background-color: aliceblue;
    align-items: center;
    justify-content: center;
    padding: 20px;
}